:root {
  --darkgrey: #222;
  --m-tablet: 2.5rem;
  --m: 3.75rem;
  --m-mobile: 1.563rem;
  --red: #fa3232;
  --cream: #ebebdf;
  --l: 8.75rem;
  --l-tablet: 6.25rem;
  --black: black;
  --transparent: #fff0;
  --xs: 1.125rem;
  --white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: var(--darkgrey);
  font-family: "Sourcesans 3", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  letter-spacing: -.2rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11.25rem;
  font-weight: 700;
  line-height: .75;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

p {
  margin-bottom: 10px;
  font-size: 1.125rem;
  display: block;
}

a {
  color: var(--darkgrey);
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.section-start {
  padding-top: var(--m-tablet);
  padding-right: var(--m);
  padding-left: var(--m);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.background-red {
  background-color: var(--red);
}

.background-red.absolut-start {
  z-index: -1;
  width: 100vw;
  min-height: 86%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.background-red.absolut {
  z-index: -1;
  width: 100vw;
  height: 69%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.background-red._100vh {
  height: 100vh;
}

.background-cream {
  background-color: var(--cream);
}

.cream {
  color: var(--cream);
}

.brand {
  transition: transform .3s;
}

.brand:hover, .brand.margin-top-20.w--current:hover {
  transform: scale(1.05);
}

.logo {
  width: 140px;
}

.logo._2 {
  width: 110px;
}

.margin-top-20 {
  margin-top: 20px;
}

.start-container {
  z-index: 0;
  padding: var(--m-mobile) var(--m-tablet);
  background-color: var(--cream);
  text-align: center;
  width: 100%;
  margin: 40px 0 0;
  position: relative;
}

.red {
  color: var(--red);
}

.icon-start-lightning {
  width: 360px;
  margin-bottom: 154px;
  margin-left: auto;
  margin-right: 110px;
  position: absolute;
}

.icon-start-lightning._2 {
  width: 130px;
  margin-top: 95px;
  margin-right: auto;
  padding-top: 0;
  inset: 0%;
}

.icon-start-lightning._3 {
  width: 240px;
  margin-top: 180px;
  margin-right: auto;
  padding-top: 0;
  inset: 0%;
}

.icon-start-lightning._404 {
  width: 240px;
  margin-top: 111px;
  margin-bottom: 0;
  margin-right: 252px;
  inset: 0% 0% auto auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.grid-start {
  grid-column-gap: 19px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.intro {
  font-size: 1.313rem;
}

.intro.limit {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.intro.centered.limit {
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: var(--l) var(--m);
  position: relative;
}

.section.background-cream.hide {
  display: none;
}

.section._2 {
  padding-top: 31rem;
  padding-bottom: var(--m-tablet);
}

.section.hero {
  padding-top: var(--l-tablet);
  padding-bottom: var(--l-tablet);
}

.hero-hedline-line-wrapper {
  overflow: hidden;
}

.hero-headline-line-2 {
  padding-left: 5px;
}

.hero-headline-line-3 {
  color: var(--cream);
}

.hero-headline-line-4 {
  color: var(--cream);
  margin-top: -2px;
  padding-top: 2px;
}

.container-content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-content.margin-top-100 {
  margin-top: 100px;
}

.container-content.box-centered._2.margin-top-100 {
  padding-top: var(--m-tablet);
  padding-bottom: var(--m-tablet);
}

.grid-2-3 {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  place-items: start;
}

.grid-facts {
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  padding-top: 15px;
  padding-right: 70px;
}

.line-red-short {
  background-color: var(--red);
  width: 100px;
  height: 1px;
  margin-bottom: 8px;
}

.button-primary {
  border: 2px solid var(--red);
  background-color: var(--red);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all .3s;
}

.button-primary:hover {
  border-color: var(--black);
  background-color: var(--darkgrey);
}

.button-primary.margin {
  margin-right: var(--m-mobile);
  margin-bottom: var(--m-mobile);
  margin-left: var(--m-mobile);
}

.button-primary.margin-top-10 {
  margin-top: 10px;
}

.button-primary._404 {
  border-color: var(--darkgrey);
  background-color: var(--darkgrey);
  color: var(--cream);
  margin-top: 10px;
}

.button-primary._404:hover {
  background-color: var(--red);
  color: var(--darkgrey);
}

.centered {
  text-align: center;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.centered.h2-big {
  letter-spacing: -.4px;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7rem;
  font-size: 6.563rem;
  font-weight: 700;
  line-height: .87;
  position: absolute;
  inset: 0%;
}

.grid-3 {
  grid-column-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.grid-3.margin-top-70 {
  grid-column-gap: 80px;
  margin-top: 70px;
}

.grid-3.margin-top-70.margin-bottom-30 {
  margin-bottom: 30px;
}

.grid-3.margin-top-70.margin-bottom-30._2 {
  grid-column-gap: 30px;
}

.margin-top-60 {
  margin-top: 60px;
}

.spacer-buttons {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.button-secondary {
  border: 2px solid var(--red);
  background-color: var(--transparent);
  color: var(--red);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all .3s;
}

.button-secondary:hover {
  border-color: var(--darkgrey);
  color: var(--darkgrey);
}

.button-secondary._2 {
  margin-top: 20px;
}

.button-secondary._3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.box-centered {
  text-align: center;
  background-color: #ffffff40;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  transition: all .3s;
  display: flex;
}

.box-centered:hover {
  background-color: #ffffff73;
  transform: scale(1.02);
}

.box-centered._2 {
  padding: var(--m-mobile);
  background-color: var(--cream);
}

.stretch {
  flex-flow: column;
  display: flex;
}

.image-offer {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 260px;
}

.margin {
  margin-right: var(--m-mobile);
  margin-left: var(--m-mobile);
}

.grid-2 {
  grid-column-gap: 100px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(38%, 1fr));
  align-items: stretch;
  position: relative;
}

.grid-2.center {
  align-items: center;
}

.grid-2.footer {
  grid-column-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.slider-testimonials {
  background-color: var(--transparent);
  width: 960px;
  height: auto;
  margin: 70px auto 30px;
}

.hide {
  display: none;
}

.quote {
  color: var(--darkgrey);
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.75rem;
}

.mask-testimonilas {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.wrapper-quote {
  padding: var(--m);
  background-color: #ebebdf73;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.icon-arrow {
  color: #f6f6f1;
  font-size: 2rem;
}

.slider-arrow-right {
  background-color: var(--white);
  border: 3px solid #f6f6f1;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-right: -30px;
  transition: all .3s;
}

.slider-arrow-right:hover {
  border-color: var(--cream);
}

.slider-arrow-left {
  background-color: var(--white);
  border: 3px solid #f6f6f1;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  transition: all .3s;
}

.slider-arrow-left:hover {
  border-color: var(--cream);
}

.stars {
  width: 120px;
  margin-bottom: 20px;
}

.wrapper-steps {
  padding-right: var(--m);
  margin-bottom: 5rem;
}

.wrapper-steps.last {
  margin-bottom: 0;
}

.wrapper-image-offer {
  overflow: hidden;
}

.image-itagile {
  object-fit: cover;
  object-position: 100% 50%;
  width: 48%;
  height: 100%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.section-footer {
  padding: var(--m);
  position: relative;
}

.margin-top-30 {
  margin-top: 30px;
}

.text-field {
  color: var(--darkgrey);
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.125rem;
}

.text-field:focus-visible {
  border: 1px solid var(--red);
  box-shadow: 0 0 10px #fa323266;
}

.text-field[data-wf-focus-visible] {
  border: 1px solid var(--red);
  box-shadow: 0 0 10px #fa323266;
}

.text-field::placeholder {
  color: #2226;
}

.link-footer {
  margin-bottom: 2px;
  font-size: .938rem;
  text-decoration: none;
  transition: color .3s;
  display: block;
}

.link-footer:hover {
  color: var(--red);
}

.wrapper-footer-flex {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.flex {
  display: flex;
}

.wrapper-footer-links {
  margin-right: 20px;
}

.link-intro {
  color: var(--red);
  font-size: 1.5rem;
  line-height: 1.1;
  text-decoration: none;
  transition: color .3s;
}

.link-intro:hover {
  color: var(--darkgrey);
}

.wrapper-padding {
  padding-right: var(--m);
}

.timeline-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.8em;
  padding-bottom: 2.5rem;
  display: flex;
  position: relative;
}

.content-left {
  position: sticky;
  top: 6.25em;
}

.container-content-2 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.timeline-wrapper {
  position: relative;
}

.grid-sticky {
  grid-column-gap: 100px;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, .8fr));
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
  position: relative;
}

.icon {
  height: 105px;
}

.progress-bar-wrapper {
  background-color: #fa323259;
  width: 4px;
  height: 87%;
  position: absolute;
  top: 13%;
  left: 31px;
  right: auto;
}

.timeline-step {
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: max-content 2fr;
}

.progress-bar {
  background-color: var(--red);
  width: 4px;
  height: 100%;
}

.content-right {
  padding-top: 20px;
}

.timeline-icon-wrapper-2 {
  z-index: 1;
  background-color: var(--white);
  color: var(--red);
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 60px;
  margin-top: 88px;
  margin-left: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

.number {
  background-color: var(--white);
  color: var(--red);
  font-size: 2.75rem;
  font-weight: 700;
}

.section-itagile {
  padding: var(--l) var(--m);
  position: relative;
}

.logo-partner {
  margin-top: var(--xs);
  width: 130px;
  transition: transform .3s;
}

.logo-partner:hover {
  transform: scale(1.04);
}

.logo-partner.start {
  position: absolute;
  inset: 0% 0% auto auto;
}

.wrapper-logo-partner {
  text-decoration: none;
}

.checkbox-label {
  color: #2229;
  font-size: .938rem;
  line-height: 1.4;
}

.checkbox-field {
  margin-top: 15px;
  margin-bottom: 10px;
}

.link-opacity {
  color: #2229;
  transition: color .2s;
}

.link-opacity:hover {
  color: var(--darkgrey);
}

.wrapper-start-partner {
  width: 130px;
  height: 130px;
  margin-top: -8rem;
  margin-right: -5rem;
  position: absolute;
  inset: 0% 0% auto auto;
}

.checkbox {
  border-radius: 0;
}

.div-block {
  margin-bottom: var(--m);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 95vh;
  display: flex;
  position: relative;
}

.utility-page-wrap {
  padding-right: var(--m);
  padding-left: var(--m);
  background-color: var(--red);
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.margin-bottom-2-5 {
  margin-bottom: var(--m-tablet);
}

.relative {
  position: relative;
}

.code-embed {
  margin-top: var(--m-tablet);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.centered-2 {
  padding-right: var(--m);
  padding-left: var(--m);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.h1-small {
  text-align: left;
  letter-spacing: 0;
  text-transform: none;
  font-size: 4.5rem;
  line-height: 1;
}

.wrapper-brand {
  text-align: right;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.logo-quote {
  height: 45px;
  margin-left: 15px;
  padding-bottom: 2px;
}

.logo-quote._2 {
  height: 35px;
}

.logo-quote._3 {
  height: 30px;
}

.wrapper-quote-name {
  justify-content: center;
  align-items: center;
  margin-top: .625rem;
  display: flex;
}

@media screen and (max-width: 991px) {
  body {
    line-height: 1.45;
  }

  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 2.375rem;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.375rem;
  }

  p {
    font-size: 1rem;
  }

  .section-start {
    padding-top: var(--m);
    padding-left: var(--m-tablet);
    min-height: 95vh;
  }

  .background-red.absolut-start {
    min-height: 80%;
  }

  .logo {
    width: 120px;
  }

  .start-container {
    padding-right: var(--m-mobile);
    padding-left: var(--m-mobile);
    width: 100%;
    margin-top: 60px;
  }

  .icon-start-lightning {
    width: 260px;
    margin-bottom: 265px;
    margin-right: 60px;
  }

  .icon-start-lightning._3 {
    width: 185px;
    margin-top: 159px;
  }

  .icon-start-lightning._404 {
    width: 200px;
    margin-top: 88px;
    margin-right: 198px;
  }

  .grid-start {
    grid-column-gap: 15px;
  }

  .intro {
    font-size: 1.25rem;
  }

  .section {
    padding: var(--l-tablet) var(--m-tablet);
  }

  .section._2 {
    padding-top: 25.5rem;
  }

  .grid-2-3 {
    grid-row-gap: 61px;
    grid-template-columns: 1fr;
  }

  .grid-facts {
    grid-row-gap: 40px;
    padding-right: 220px;
  }

  .button-primary {
    margin-top: 15px;
    font-size: 1rem;
  }

  .centered.h2-big {
    font-size: 5rem;
  }

  .grid-3 {
    grid-column-gap: 30px;
  }

  .grid-3.margin-top-70 {
    grid-column-gap: 30px;
    margin-top: 40px;
  }

  .grid-3.margin-top-70.margin-bottom-30 {
    margin-bottom: 20px;
  }

  .grid-3.margin-top-70.margin-bottom-30._2 {
    grid-column-gap: 15px;
  }

  .spacer-buttons {
    width: 15px;
    height: 15px;
  }

  .button-secondary {
    margin-top: 15px;
    font-size: 1rem;
  }

  .box-centered._2 {
    padding: var(--xs);
  }

  .image-offer {
    object-position: 60% 50%;
    height: 160px;
  }

  .grid-2.center {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .grid-2.center.inverse {
    grid-row-gap: 40px;
    grid-auto-flow: row;
  }

  .grid-2.footer {
    grid-column-gap: 65px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .slider-testimonials {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .quote {
    font-size: 1.563rem;
  }

  .icon-arrow {
    font-size: 1.7rem;
  }

  .slider-arrow-right {
    width: 50px;
    height: 50px;
    margin-right: -20px;
  }

  .slider-arrow-left {
    width: 50px;
    height: 50px;
  }

  .stars {
    width: 120px;
  }

  .wrapper-steps {
    padding-right: 0;
  }

  .image-itagile {
    object-position: 50% 45%;
    width: 100%;
    height: 560px;
    inset: 0% 0% auto;
  }

  .section-footer {
    padding-right: var(--m-tablet);
    padding-left: var(--m-tablet);
  }

  .section-footer.background-cream {
    padding-top: var(--m-tablet);
    padding-bottom: var(--m-tablet);
  }

  .wrapper-footer-flex {
    justify-content: space-between;
    align-items: flex-start;
  }

  .link-intro {
    font-size: 1.3rem;
  }

  .grid-sticky {
    grid-column-gap: 2rem;
  }

  .icon {
    height: 85px;
  }

  .progress-bar-wrapper {
    left: 25px;
  }

  .timeline-step {
    grid-column-gap: 20px;
  }

  .timeline-icon-wrapper-2 {
    margin-top: 65px;
    margin-left: 12px;
  }

  .section-itagile {
    padding: 38rem var(--m-tablet) var(--l-tablet);
  }

  .logo-partner {
    width: 115px;
    margin-top: 1rem;
  }

  .logo-partner.start {
    width: 100px;
    margin-top: 0;
  }

  .wrapper-start-partner {
    width: 100px;
    height: 100px;
    margin-top: -5.1rem;
    margin-right: -2.2rem;
    inset: 0% 0% auto auto;
  }

  .div-block {
    width: 100%;
    min-height: 90vh;
    margin-bottom: 0;
  }

  .utility-page-wrap {
    padding-right: var(--m-tablet);
    padding-left: var(--m-tablet);
  }

  .utility-page-content {
    width: 100%;
  }

  .centered-2 {
    padding-right: var(--m-tablet);
    padding-left: var(--m-tablet);
  }

  .h1-small {
    font-size: 3.8rem;
  }

  .wrapper-brand {
    margin-top: -5rem;
  }

  .logo-quote {
    height: 40px;
  }

  .logo-quote._2 {
    height: 32px;
  }

  .logo-quote._3 {
    height: 28px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    letter-spacing: 0;
    font-size: 6.25rem;
    line-height: .76;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: .938rem;
    line-height: 1.35;
  }

  .section-start {
    padding-top: var(--m-tablet);
    padding-right: var(--m-mobile);
    padding-left: var(--m-mobile);
  }

  .background-red.absolut-start {
    min-height: 82%;
  }

  .background-red.absolut {
    height: 82%;
  }

  .logo, .logo._2 {
    width: 100px;
  }

  .start-container {
    margin-top: 30px;
  }

  .icon-start-lightning {
    width: 200px;
    margin-bottom: 193px;
  }

  .icon-start-lightning._3 {
    width: 120px;
    margin-top: 101px;
  }

  .icon-start-lightning._404 {
    width: 140px;
    margin-top: 62px;
    margin-right: 150px;
  }

  .intro {
    font-size: 1.063rem;
    line-height: 1.4;
  }

  .intro.red.margin-bottom-0.start {
    font-size: 1rem;
  }

  .intro.limit, .intro.centered.limit {
    width: 100%;
  }

  .section {
    padding-top: var(--m);
    padding-bottom: var(--m);
  }

  .section._2 {
    padding-top: 17rem;
  }

  .section.hero {
    padding-bottom: var(--m);
  }

  .container-content.box-centered._2.margin-top-100 {
    margin-top: 60px;
  }

  .grid-2-3 {
    grid-row-gap: 50px;
  }

  .grid-facts {
    grid-row-gap: 30px;
    padding-right: 100px;
  }

  .button-primary {
    font-size: .938rem;
  }

  .centered.h2-big {
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .grid-3.margin-top-70.margin-bottom-30._2 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .margin-top-60 {
    margin-top: var(--m-tablet);
  }

  .spacer-buttons {
    display: none;
  }

  .button-secondary {
    font-size: .938rem;
  }

  .box-centered._2 {
    padding: var(--m-mobile);
  }

  .image-offer {
    height: 260px;
  }

  .slider-testimonials {
    margin-bottom: 10px;
  }

  .quote {
    font-size: 1.375rem;
  }

  .wrapper-quote {
    padding: var(--m-tablet);
  }

  .slider-arrow-right {
    border-width: 2px;
  }

  .slider-arrow-left {
    border-width: 2px;
    margin-left: -20px;
  }

  .stars {
    width: 95px;
    margin-bottom: 15px;
  }

  .wrapper-steps {
    margin-bottom: var(--m);
  }

  .image-itagile {
    height: 380px;
  }

  .margin-top-30 {
    margin-top: 25px;
  }

  .wrapper-footer-flex {
    flex-flow: column;
  }

  .link-intro {
    font-size: 1.375rem;
  }

  .content-left {
    position: static;
  }

  .grid-sticky {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  .icon {
    height: 65px;
  }

  .progress-bar-wrapper, .progress-bar {
    width: 3px;
  }

  .timeline-icon-wrapper-2 {
    margin-top: 45px;
  }

  .section-itagile {
    padding-top: 26rem;
    padding-bottom: var(--m);
  }

  .logo-partner {
    margin-bottom: 30px;
  }

  .logo-partner.start {
    width: 90px;
  }

  .wrapper-contact {
    margin-bottom: 20px;
  }

  .checkbox-label {
    font-size: .875rem;
  }

  .wrapper-start-partner {
    width: 90px;
    height: 90px;
    margin-right: -1rem;
  }

  .utility-page-wrap {
    padding-right: var(--m-mobile);
    padding-left: var(--m-mobile);
  }

  .margin-bottom-2-5 {
    margin-bottom: var(--xs);
  }

  .centered-2 {
    padding-right: var(--m-mobile);
    padding-left: var(--m-mobile);
  }

  .h1-small {
    font-size: 2.7rem;
  }

  .wrapper-brand {
    margin-bottom: .5rem;
  }

  .logo-quote._2 {
    height: 30px;
  }

  .logo-quote._3 {
    height: 25px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    letter-spacing: 0;
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 15px;
  }

  .section-start {
    height: 96vh;
    min-height: auto;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .background-red.absolut-start {
    min-height: 75%;
  }

  .brand.margin-top-20 {
    margin-top: 15px;
  }

  .logo {
    width: 90px;
  }

  .logo._2 {
    width: 85px;
  }

  .start-container {
    margin-top: 40px;
    margin-bottom: 4rem;
  }

  .icon-start-lightning {
    width: 120px;
    margin-bottom: 380px;
    margin-right: 38px;
  }

  .icon-start-lightning._3 {
    width: 80px;
    margin-top: 60px;
  }

  .icon-start-lightning._404 {
    width: 120px;
    margin-top: 39px;
    margin-right: 79px;
  }

  .grid-start {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .intro {
    font-size: 1.063rem;
    line-height: 1.4;
  }

  .intro.red.margin-bottom-0.start {
    font-size: 1.063rem;
  }

  .section {
    padding: var(--m-tablet) var(--m-mobile);
  }

  .section._2 {
    padding-top: 11.2rem;
  }

  .section.hero {
    padding-bottom: var(--m-tablet);
  }

  .container-content.box-centered._2.margin-top-100 {
    margin-top: 40px;
  }

  .grid-2-3 {
    grid-row-gap: 35px;
  }

  .grid-facts {
    grid-row-gap: 20px;
    padding-right: 0;
  }

  .button-primary {
    line-height: 1.3;
  }

  .centered.h2-big {
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 2.25rem;
  }

  .grid-3.margin-top-70.margin-bottom-30 {
    grid-row-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .margin-top-60 {
    margin-top: var(--m-mobile);
  }

  .button-secondary {
    line-height: 1.3;
  }

  .button-secondary._2 {
    margin-top: 15px;
  }

  .box-centered._2 {
    padding: var(--xs);
  }

  .image-offer {
    height: 180px;
  }

  .grid-2.center.inverse {
    grid-row-gap: 20px;
  }

  .slider-testimonials {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .quote {
    font-size: 1.125rem;
  }

  .wrapper-quote {
    padding: var(--m-mobile);
  }

  .icon-arrow {
    font-size: 1.3rem;
  }

  .slider-arrow-right {
    border-width: 2px;
    width: 35px;
    height: 35px;
    margin-right: -15px;
  }

  .slider-arrow-left {
    width: 35px;
    height: 35px;
    margin-left: -15px;
  }

  .stars {
    width: 80px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .wrapper-steps {
    margin-bottom: var(--m-tablet);
  }

  .image-itagile {
    height: 280px;
  }

  .wrapper-footer-flex {
    flex-flow: column;
  }

  .flex {
    margin-top: 30px;
  }

  .wrapper-padding {
    padding-right: 0;
  }

  .grid-sticky {
    grid-row-gap: 0px;
  }

  .icon {
    height: 75px;
  }

  .progress-bar-wrapper {
    top: 10%;
    left: 12px;
  }

  .timeline-step {
    grid-column-gap: 12px;
  }

  .timeline-icon-wrapper-2 {
    height: 58px;
    margin-top: 43px;
    margin-left: 0;
  }

  .number {
    margin-bottom: 0;
    margin-left: -2px;
    font-size: 2.375rem;
  }

  .section-itagile {
    padding-top: 19.5rem;
    padding-right: var(--m-mobile);
    padding-left: var(--m-mobile);
  }

  .logo-partner {
    margin-top: .5rem;
  }

  .logo-partner.start {
    width: 85px;
  }

  .wrapper-contact {
    margin-bottom: 0;
  }

  .wrapper-start-partner {
    width: 85px;
    height: 85px;
    margin-top: 0;
    margin-bottom: -4.4rem;
    inset: auto 0% 0% auto;
  }

  .div-block {
    min-height: auto;
  }

  .h1-small {
    font-size: 1.8rem;
  }

  .logo-quote {
    height: 35px;
    margin-top: 10px;
  }

  .wrapper-quote-name {
    flex-flow: column;
  }
}

#w-node-bea038dc-6824-aad0-c508-e0ce49e93be1-d587023d, #w-node-bf91ea54-0196-3c06-d055-6af6d4f1c417-d587023d, #w-node-_47f8253c-6634-7ba3-24b3-72d34095eca3-d587023d, #w-node-edabb2e4-dd4c-77dc-4840-d01a82e904fa-d587023d, #w-node-_6a2700df-67e5-0983-aa9d-2af4f1c6e3ae-d587023d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5b7393a0-01c4-bf8f-55c7-f94600e63c74-d587023d, #w-node-fb2a5f29-2acf-468b-71ed-8256cf33ce9f-d587023d, #w-node-a9dcfa54-cfe1-65d7-77b4-877669272c02-d587023d, #w-node-b1b35344-9a1d-15c0-a77b-e7c5a5d947b7-d587023d, #w-node-b1b35344-9a1d-15c0-a77b-e7c5a5d947bf-d587023d, #w-node-b1b35344-9a1d-15c0-a77b-e7c5a5d947c7-d587023d, #w-node-_42d79000-c9a8-f006-a1bb-d59c94f64ea6-d587023d, #w-node-_42d79000-c9a8-f006-a1bb-d59c94f64eb2-d587023d, #w-node-_42d79000-c9a8-f006-a1bb-d59c94f64ebe-d587023d {
  justify-self: center;
}

#w-node-_9e0408ed-3e09-d77e-9063-9e918833f7a0-d587023d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fcc7ab43-c099-bdda-c102-654cbddd8e3b-d587023d, #w-node-ee2cf67c-5339-39be-e70b-f1822a5e2fb7-bc5f52aa {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-fcc7ab43-c099-bdda-c102-654cbddd8e3b-d587023d, #w-node-ee2cf67c-5339-39be-e70b-f1822a5e2fb7-bc5f52aa {
    grid-column: span 1 / span 1;
  }
}


@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sourcesans 3';
  src: url('../fonts/SourceSans3-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sourcesans 3';
  src: url('../fonts/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}